@media only screen and (max-width: 425px) {
  .l-grid {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-template-areas: "c-card-1" "c-card-2" "c-card-3" "c-card-4" "c-card-5";
    
    width: 90%;
  }

  .c-card {
    &__name {
      font-size: 1.3rem;
    }

    &__title {
      font-size: 2.12rem;
    }
    
    &__text {
      font-size: 1.38rem;
    }
  }
}
